$web: 993px;
$middle: 600px;


body {
background-color: white; 
overflow-x: 0;
margin: 0;
padding: 0; 
font-family: 'Poppins', sans-serif;
}

//****** HEADER ******//
.header {
    position: relative;
    z-index: 1000;
    font-size: 1em;
    width: 100%;
    padding: 1em 0em 1em 0em;
    background-color: #1c1818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1818;
    //margin-bottom: .5em;
    .header-text-container{
        color: #f0fff0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        color: #f0fff0;
        .phone{    
            margin-right: 0.5em;
        }
        .schedule{   
             margin-left: 0.5em;
        }
    }
    .header-icons-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin-top: .5em;
        .icono{
            i{
                color: #c7c7c7;
            }
            
        }
        
    }
    
}

@media screen and (min-width: 993px){
    .header {
        padding: 1.5em 0em 1.5em 0em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .header-text-container{
            justify-content: start;
            width: 40%;
            margin-left: 7.5em;
            
            .phone{
            }
            .schedule{
            }
        }
        .header-icons-container{
            width: 20%;
            margin-right: 7.5em;
            .icono{
                i{
                }
                
            }
            
        }
        
    }

}

//****** HEADER END ******//

//****** NAVBAR ******//
.navbar {
    position: relative;
   // z-index: 100;
    .nav {
        background-color: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        align-items: center;
        .logo{
            position: relative;
            z-index: 1000;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: start;
            padding-left: 0.5em;
            font-size: 2em;
            background-color: white;
        }
        .navbar-mobile{
            
            position: relative;
            z-index: 1000;
            width: 90%;
            padding: 0.5em;
            margin: -0.1em .7em 0em 0.7em;
            // margin-top: .5em;
            // margin-left: 1em;
            display: flex;
            justify-content: end;
            background-color: #4c4c4c;
            .inside-navbar-mobile{
                display: flex;
                background-color: #222222;;
                flex-direction: row;
                justify-content: space-between;
                padding: 0.5em;
                border-radius: 0.3em;
                .mobile-menu-sign {
                margin-right: .5em;
                color: white;
            }
            .nav-toggle {
                background: transparent;
                color: #fff;
                padding: 0;
                border: none;
                cursor: pointer;

                
            }
        
            .nav-toggle:focus:not(:focus-visible) {
                outline: none;
              }
        
        
        
        }
            
        }
        // .nav-menu{
        //     display: none;
        // }
        .nav-menu_visible {
            margin-top: 0% !important;
          }

        .nav-menu{
            //padding: 2em 2em;
            list-style: none;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin: 0;
            background-color: #4c4c4c;
            color: white;
            //background: linear-gradient(70deg, #6a58f2, #9542d8);
            position: relative;
            //top: 4.1em;
            //width: inherit;
            padding: 1.5 0;
        
            height: calc(100% - 4em);
            overflow-y: auto;
            transition: left 0.9s;
            margin-top: -100%;
            
              .nav-menu-item {
                font-size: 1em;
                margin: 0px;
                text-transform: uppercase;
                width: max-content;
                font-weight: bold;
                line-height: 1.5em;
                margin-bottom: .5em;
                padding: 0em 0em;
                /* border-bottom: 0.1em solid white; */
                border-left: 0.1em solid white;
                border-radius: 1em;
        
        
                .nav-menu-link{
                padding: .5em .6em;
                border-radius: .5em;
                }
                .nav-link{
                  
                  padding: .5em .8em;
                 // border-radius: .2em;
        
                }
              }
            }

    }

}

@media screen and (min-width: 993px){
    .navbar {
        padding: 1.5em 0 1.5em 0;
        .nav {
            flex-direction: row;
            justify-content: space-between;
            .logo{
                
                padding-left: 3.8em;
                width: fit-content;
            }
            .navbar-mobile{ 
                display: none;
            }
            .nav-menu{
                margin: 1em 8em 0 0;
                padding: 0;
                font-size: .8em;
                font-weight: 900;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                list-style: none;
                background-color: transparent;
                border: none;
                color: black;
                .nav-menu-item {
                    padding:  0em 1em;
                }
            }
        }
    
    }
}


//****** NAVBAR END******//

//****** WE CARE YOUR PETS ******//
.landing {
    //background: linear-gradient(90deg, #e62e2d, #e86029); 
    background: url(../assets/background-landing.webp);
    margin-top: 3em;
    padding: 8em 1.5em 3em 1.5em;
    .landing-left {
        color: #fff;
        .title-a {
            font-size: 2.7em;
            font-weight: 500;
        }
        .title-b {
            font-size: 2.7em;
            font-weight: 900;
        }
        .parrafo {
            margin-top: .5em;
            margin-bottom: 2em;
            font-size: 1em;
            font-weight: 500;

        }
        .btn-contact {

            margin-bottom: 2em;
            padding: .5em 2em;
            text-decoration: none;
            font-size: 1.2em;
            border-radius: 2em;
            background-color: white;
            color: #e62e2d;
            
        }
        
        .btn-contact:active, .btn-contact:hover{
            background-color: #e62e2d;
            border: .05em solid white;
            color: white; 
        }
        
    }
    .img-container {
        display: none;
    }
}

@media screen and (min-width: 993px){


    .landing {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        padding: 7.5em 0em 3em 0em;
        .landing-left {
            padding: 0em 7em;
            width: 30em;
            .title-a {
                font-size: 4.5em;
            }
            .title-b {
                font-size: 4.5em;
            }
            .parrafo {
                font-size: 1.5em;
            }
            .btn-contact {
                
            }
            
        }
        .img-container {
            z-index: 100;
            margin: -1em 0em 0em -22em;
            display: block;
           // background-color: black;
           // width: 20em;
            height: 30em;
            img{
                width: 100%;
            }
        }
    }


}
//****** WE CARE YOUR PETS END******//


//****** CANVAS 1 ******//
.canvas1{
    //background: linear-gradient(90deg, #e62e2d, #e86029); 
    background: url(../assets/background-landing.webp);
    margin-top: -1em;
    //height: 4em;
    width: 100%;
    padding: 0;


}
@media screen and (min-width: 993px){
.canvas1{

    margin-top: -10em; 
}
}


//****** CANVAS 1 END******//


//****** SERVICES ******//


.services-container {
    background-color: #fff;
    padding: 2em 0;
    margin-top: -1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: #191d34;
        width: 100%;
        font-size: 2em;
        font-weight: 900;
        text-align: center;
    }
    .parrafo {
        max-width: 24em;
        padding: 0.5em 0;
        color: #909dbe;
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
    }
    .all-services{

        display: flex;
        direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    .service {
        position: relative;
        margin: 2em 1em;
        width: 35em;
        border: .1em solid #f4c4c2;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .5em;
        .dog-container{
            position: absolute;
            padding: 6em 1em;
            z-index: 500;
            width: 8em;
            img{
              width: 100%;  
            }
        }
        .shadow-container{
            padding: 3em 2em;
            position: absolute;
            z-index: 100;
            width: 15em;
            img{
              width: 100%;  
            }
            }
        .service-title{
           padding: 15em 0em 0.5em 0; 
            color: #191d34;
            margin-top: 1em;
            width: 100%;
            font-size: 1.3em;
            font-weight: 900;
            text-align: center;
        }
        .service-description{
            width: 90%;
            padding: 0.5em 0;
            color: #909dbe;
            text-align: center;
            font-size: 1.1em;
            font-weight: 500;
            margin-bottom: 2em;
        }
    }
    }

    }

    @media screen and (min-width: 993px){

        .services-container {
            padding: 8em 0;
            .title {
                font-size: 3.5em;
            }
            .parrafo {
                width: 60%;
            }
            .all-services{
            .service {
                width: 15em;
                .shadow-container{
                    padding: 1em 2em;
                    width: 10em;

                }
                .dog-container{
                   padding: 3em 1em;
                   width: 6em;


                }
                .service-title{
                padding: 8em 0em 0.5em 0; 
                    
                }
                .service-description{
                }
            }
            }
        
            }
   
    

    }

//****** SERVICES END******//


//****** WE CARE CONTAINER******//

    .we-care{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-container {
            
            //background-color: black;
            width: 32em;
           // height: 30em;
           img{
               width: 100%;
           }
        }
        .text-container {
        margin-top: 2em;
        margin-bottom: 3em;
        padding: 0em 0em 0em 1em;  
        .title-a {
            color: #191d34;
            font-size: 2.5em;
            font-weight: revert;
        }
        .title-b {
            color: #191d34;
            font-size: 2.5em;
            font-weight: 900;
        }
        .parrafo {
            color: #66666f;
            margin-top: 2em;
            margin-bottom: 3em;
            font-size: 1.2em;
            font-weight: 500;

        }
        .btn-about{
            margin-bottom: 2em;
            padding: .5em 2em;
            text-decoration: none;
            font-size: 1.2em;
            border-radius: 2em;
            background-color: #e62e2d;;
            color: #fff;
        }
    }
      
    }

    @media screen and (min-width: 993px){
    
        .we-care{
            flex-direction: row;
            justify-content: center;
            margin-bottom: 4em;

            
            .img-container {
                margin-right: 0em;
            
            }
            .text-container {
                margin-left: 6em;
                width: 30em;
            
            .title-a {
                font-size: 3.5em; 
                
            }
            .title-b {
                font-size: 3.5em; 
              
                
            }
            .parrafo {
               
    
            }
            .btn-about{
                
            }
        }
          
        }


    }


        

//****** WE CARE CONTAINER END******//

//****** WE NEED YOUR HELP CONTAINER******//
.we-need{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .text-container {
    margin-top: 3em;
    padding: 0em 0em 0em 1em;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .title-a {
        width: fit-content;
        color: #191d34;
        font-size: 2.5em;
        font-weight: revert;
    }
    .title-b {
        width: fit-content;
        margin-left: .2em;
        color: #191d34;
        font-size: 2.5em;
        font-weight: 900;
    }
    .parrafo {
        width: 100%;
        color: #66666f;
        margin-top: 1.5em;
        margin-bottom: 2em;
        font-size: 1.5em;
        font-weight: 500;

    }
    .btn-about{
        margin-bottom: 2em;
        padding: .5em 2em;
        text-decoration: none;
        font-size: 1.2em;
        border-radius: 2em;
        background-color: #e62e2d;;
        color: #fff;
    }
    }

    .numbers-container{
        max-width: 50em;
        
        //background-color: #00ffff;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        .numbers-box1 {
            position:relative;
            border: none;
            border-radius: 1em;
            box-shadow: 0em 0.2em 0.5em 0.2em #ededed;
            color: #191d34;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35em;
            margin: 3em 2em;
            .pet-photo{
                margin: 2em;
                width: 6em;
                img{
                    width: 100%;
                }
                //background-color: gray;
            }
            .number-value {
                font-size: 4em;
                font-weight: 900;
            }
            .number-description {
                font-size: 2em;
                font-weight: 500;
            }
        }
        .numbers-box2{
            position:relative;
            border: none;
            border-radius: 1em;
            box-shadow: 0em 0.2em 0.5em 0.2em #ededed;
            color: #191d34;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35em;
            margin: 2em;
            .pet-photo{
                margin: 2em;
                width: 6em;
                img{
                    width: 100%;
                }
                //background-color: gray;
            }
            .number-value {
                font-size: 4em;
                font-weight: 900;
            }
            .number-description {
                font-size: 2em;
                font-weight: 500;
            }
        }
        .numbers-box3{
            position:relative;
            border: none;
            border-radius: 1em;
            box-shadow: 0em 0.2em 0.5em 0.2em #ededed;
            color: #191d34;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35em;
            margin: 2em;
            .pet-photo{
                margin: 2em;
                width: 6em;
                img{
                    width: 100%;
                }
                //background-color: gray;
            }
            .number-value {
                font-size: 4em;
                font-weight: 900;
            }
            .number-description {
                font-size: 2em;
                font-weight: 500;
            }
        }

    }
    
}

@media screen and (min-width: 993px){

    .we-need{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 4em;

        
        .text-container {
            margin-top: 10em;
            margin-left: 6em;
            margin-right: 3em;
            width: 25em;
        
        .title-a {
            font-size: 3.5em; 
            
        }
        .title-b {
            font-size: 3.5em; 
          
            
        }
        .parrafo {
           

        }
        .btn-about{
            
        }
    }

    .numbers-container{


    .numbers-box1 {  
        width: 10em;
        position: relative;
        top: 0em;
        left: 12em;
        .number-description{
        font-size: 1.2em;
        }

    }

    .numbers-box2{
        width: 10em;
        position: relative;
        top: -4em;
        left: 0em;
        .number-description{
            font-size: 1.2em;
        }
    }

    .numbers-box3{
        width: 10em;
        position: relative;
        top: -15em;
        left: 14em;
        .number-description{
            font-size: 1.2em;
        }
    }
    }
      
    }


}


//****** WE NEED YOUR HELP CONTAINER END******//


//****** TESTIMONY SLIDER ******//



.container-gallery{
	display: flex;
    overflow: hidden;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	background-position: center bottom;
	position: relative;
	padding: 2em;
    //background: linear-gradient(70deg, #6a58f2, #9542d8);
    background-color: white;
	.gallery
	{
		width: 100%;
		padding-top: 2em;
		.container
		{
			width: 100%;

			.title-style-1
			{
				text-transform: uppercase;
				color: #659ec0;
				font-weight: 900;
				text-align: center;
			}

			.images
			{
				position: relative;
				width: 100%;
				margin-top: 3em;
				.image-container
				{
					width: 100%;
					height: 18em;
					background-color: #707070;
					margin-top: 2em;
          
        display: flex;
        align-items: center;
        justify-content: center;

					cursor: pointer;


					.image
					{
						width: 100%;
						height: 18em;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					}
          .img-container {
            width: 7em;
            height: 7em;
            border-radius: 100%;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
          }

					&:first-child
					{
						margin-top: 0;
					}

					@media screen and (min-width: $middle)
					{
						width: 95% !important;
					}
				}

				.arrow
				{ 
					position: absolute;
					top: 45%;

					img 
					{
						width: 2em;
						cursor: pointer;
					}

					&.prev
					{
						left: -2em;
					}

					&.next
					{
						right: -2em;
						transform: rotate(180deg);
					}
				}
			}

			.button
			{
				margin-top: 3em;

				.btn
				{
					border: none;
				}
			}
		}
	}

}



@media screen and (min-width: $web)
{
	.landscape
	{
		.container-gallery{
			padding: 0 6em;
			.gallery
			{
				padding: 4em 0;

				.images
				{
					justify-content: space-between;

					.image-container
					{
						margin-top: 0;
						height: 18em;

						.image
						{
							height: 18em;
						}
					}

					.arrow
					{
						&.prev
						{
							left: -2.5em;
						}
					}
				}

				.button
				{
					font-size: 0.8em;
					display: flex;
					justify-content: center;
					margin-top: 7em;

					.btn
					{
						width: max-content;
						padding: 1em 5em;
					}
				}
			}
		}
	}
}


//****** TESTIMONY SLIDER END******//

//****** OUR TEAM ******//
.our-team {
    z-index: 500;
    position: relative;
    background-color: #fff;
    padding: 6em 0;
    margin-top: -1em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: #191d34;
        width: 100%;
        font-size: 3.1em;
        font-weight: 900;
        text-align: center;
    }
    .parrafo {
        width: 90%;
        padding: 0.5em 0;
        color: #909dbe;
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
    }


    .team-container {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

       .team-member {
            margin: 0 1em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-container {
                //background-color: blue;
                width: 35em;
                height: 30em;
                img{
                    width: 100%;
                }
            }
            .member-container{
                
                background-color: white;
                box-shadow: 0em 0.2em 0.5em 0.2em #ededed;
                margin-top: -2em;
                margin-bottom: 3em;
                z-index: 500;
                position: relative;
                width: fit-content;
                text-align: center;
                padding: 1em 2em;
                border-radius: .5em;
                
            
            .member-name {
                color: #191d34;
                font-size: 1.5em;
                font-weight: bolder;
            }
            .member-position {
                color: #909dbe;
                font-size: 1.5em;
                font-weight: 500;
            }
        }

        
            
        }

        .team-member:hover{
        .member-container{
            transform: translate(0,-.5em);
            transition: .3s;
        }
        }
    }

    
            
        }
    
    @media screen and (min-width: 993px){
    
        .our-team{
            

            .title {
                margin-top: -3em;
                font-size: 3.5em;
            }
            .parrafo {
                font-size: 2em;
                width: 80%;
            }

            .team-container{
        justify-content: space-between;
                
                .team-member{
                 .img-container {
                     width: 20em;
                     height: 24em;
                 }
                 .member-container{
                    margin-top: -8em;
                    .member-name {

                        font-size: 1.2em;
                    }
                    .member-position{
                        font-size: 1.2em;

                    }
                 }

                }
            }
     
     }
    
    }



//****** OUR TEAM END******//

//****** CANVAS2******//

.canvas2,.canvas3{
    display: none;
}
 

@media screen and (min-width: 993px){

.canvas2{
    display: block;
    z-index: 700;
    background: linear-gradient(75deg, #e62e2d, #e86029); 

    //background: transparent;
    //background: gray;
   // background: url(../assets/background-landing.webp);
    margin-top: -6em;
    width: 100%;
    padding: 0;
}
.canvas3{
    display: block;
    z-index: 0;
    //background: transparent;

    background: linear-gradient(75deg, #e62e2d, #e86029);
    margin-top: -2em;


}

}
//****** CANVAS2 END******//
//****** ASK WHY******//

        .ask-why{

            background: url(../assets/background-landing2.webp);
            background-position: center;
            background-size: cover;
            margin-top: 0em;
            padding: 5em 0; 
            color: white;   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                text-align: center;
                font-size: 2em;
                font-weight: 900;
            }
            .parrafo{
                width: 80%;
                text-align: center;
                margin-top: .5em;
                margin-bottom: 2em;
                font-size: 1.5em;
                font-weight: 500;
            }
            .options-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               // margin-bottom: 4em;
            .btn-contact{
                margin-bottom: 2em;
                padding: .5em 2em;
                text-decoration: none;
                font-size: 1.2em;
                border-radius: 2em;
                background-color: white;
                color: #e62e2d;
            
            }
            .btn-contact:active, .btn-contact:hover{
                background-color: #e62e2d;
                border: .05em solid white;
                color: white; 
            }

            .or{
                padding-top: 0.5em;
                font-size: 1.2em;
                margin-right: 0em;
                width: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                //font-size: 1em;
                font-weight: 500;
                .phone{
                    margin-left: 1em;
                    font-size: 1em;
                    font-weight: 900;
                }
            }
            
            }
            

            svg {
                display: none;
            }
        }

        @media screen and (min-width: 993px){
         
            .ask-why{
                padding: 0em 0;
                margin-top: -4em;
                //margin-top: -12em;
                .title{
                    font-size: 3.5em;
                   
                }
                .parrafo{
                    font-size: 2.5em;
                    width: 60%;
                    
                }
                .options-container{
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    
                .btn-contact{
                   
                    margin-right: 1em;
                }
                .or{
                   
                    .phone{
                      
                    }
                }
                
                }
                
    
                svg {
                }
            }

        }

//****** ASK WHY END******//

//****** FOOTER******//

    .footer {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: white;
    .footer-item{
        margin: 3em 1em;
        width: 80%;
        .title{
            color: #4c4c4c;
            font-weight: 900;
            font-size: 1.5em;
            line-height: 3em;
        }
        .option{
            width: 100%;
            text-decoration: none;
            color: #999898;
            font-weight: 500;
            font-size: 1em;
            line-height: 2em;
        }
        .option:active{
            color: #e62e2d;
            background-color: transparent;
        }
        .logo{
            color: black;
            position: relative;
            z-index: 1000;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: start;
            padding-left: 0.5em;
            font-size: 2em;
            background-color: white;
        }
        .header-icons-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 60%;
            margin-top: 1em;
            .icono{
                i{
                margin-right: 2em;
                color: #999898;
                }
                i:active{
                    color: #e62e2d;
                    background-color: transparent;   
                }
                
            }
            
        }
    }
    }
    @media screen and (min-width: 993px){
    .footer {
        margin-top: -1em;
        .footer-item{
            width: 16em
        }
    }
    }
    

//****** FOOTER END******//
//******  COPYRIGHT ******//
.copyright {
    border-top: .05em solid #999898;
    color: #999898;
    font-size: 1.2em;
    font-weight: 500;
    padding: 1em;
}
//******  COPYRIGHT END******//






